/* i don care if she 14 15 */
@font-face {
  font-family: proggy;
  src: url(../fonts/proggy.ttf);
}

:root {
    --accent: #8080FF;
}

body {
    font-family: "proggy", Arial, sans-serif;
    background-color: #191919;
    text-align: center;
    color: white;
    margin: 0;
}

a { color: var(--accent); }
a:hover { color: #ababff; }

#title { cursor: pointer; }
#title:hover { color: #ababff; }

#about {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.accent { color: var(--accent); }

.box-content {
    border: 2px solid #777;
    padding: 20px;
}

.box-title {
    transform: translateX(-50%);
    background: #191919;
    position: relative;
    width: max-content;
    padding-right: 5px;
    padding-left: 5px;
    top: 1.65em;
    left: 50%;
}

#news {
    display: flex;
    gap: 30em;
}